@import url("normalize.min.css");
@import url("bootstrap.min.css");
@import url("ui.css");

html { 
    height: 100%;
}

@media all and (min-width: 800px) {
    html {
        overflow: hidden;
    }
}

body { 
    min-height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
    min-width: 800px;


}

header {
    height: 70px;
    padding: 10px 20px 20px 20px;
    background: #f7f7f7;
}


header img {
    height: 70px;
}

header > a > img {
    height: 50px;
    width: 50px; /* Necessary for FF, other browsers will "auto" this */
}

header > a {    
    float: left;
    margin-top: 14px;
    margin-left: 5px;
}

h1 {
    font-size: 30px;
}


hr {
    margin: 0;
    padding: 0;
}

hr.fade-white {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}


hr.fade-gray {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
    background-image:    -moz-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
    background-image:     -ms-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
    background-image:      -o-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
}
