#chat p {
    padding: 0;
    margin: 0;
}

#chat .chat-entry {
    line-height: 100%;
    padding: 1px;
}

#chat .chat-entry > * {
    padding: 0;
}

#chat .chat-entry > .chat-entry-options {
    float: left;
    width: 60px;
    padding-left: 3px;
}

#chat .chat-entry > .chat-entry-user {
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 3px;
}

#chat .chat-entry > .chat-entry-message {
    display: block;
    word-wrap: break-word;
    margin-left: 216px;
    white-space: pre-wrap;
}

#chat .chat-entry > .chat-entry-message > img[src^="img/smilies"] {
    height: 11px;
}

#chat .chat-entry > .chat-entry-message > code {
    white-space: pre-line;
}

#chat .logged-message {
    color: #999;
}

#chat .whispered-message {
    background: #eee;
    cursor: pointer;
}

.chat-entry span.label {
    padding: 1px 5px;
    margin: 0px;
    margin-right: 3px;
    font-weight: normal;
}

#chat-header {
    min-height: 40px;
    padding: 5px;
}

#chat-header img {
    width: 20px;
}

#chat-entries-parent > div {
    overflow-y: scroll;
}

#view-log-button {
    margin-top: 4px;
    float: right;
}

#room-settings {
    margin-top: 4px;
    float: right;
    margin-right: 9px;
}


#channels {
    background: #f0f0f0;
    margin: 0;
    padding: 3px 0;
    display: table;
    width: 100%;
}

#channels-list { 
    margin: 0;
    padding: 0 0 0 3px;
    display: table;
    float: left;

    /* #add-new-room should have some distance to left if no rooms are open*/
    min-width: 3px;
    min-height: 1px;
}

#channels li {
    cursor: pointer;
    padding: 4px 30px;
    margin: 2px;
    float: left;
}

#channels li:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.popover-content input[type=text] {
    width: 230px;
}

.popover-content > form {
    margin: 0;
}

.popover-content > form > a {
    display: table-caption;
}

#add-new-room-rooms {
    min-width: 245px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table-caption;
}

#add-new-room-rooms-parent {
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

#add-new-room-rooms > li {
    position: relative;
    width: 180px;
}

#add-new-room-rooms > p {
    width: 220px;
    border: none;
}

#channel-attendees {
    float: right;
    width: 200px;
    background: #f7f7f7;
}

#add-new-room-create-new-room {
    width: 215px;
    margin-left: 2px;
    margin-top: 10px;
}

#channel-attendees > form {
    padding: 5px 5px 0 0;
    margin-bottom: 0;
}

#chat-header {
    background: #f7f7f7;
}

#channel-attendees > form  input[type='text'] {
    width: 175px;
    margin: 5px 0 10px 5px;
}

#channel-attendees-entries {
    padding: 0 5px;
    list-style: none;
    height: 440px;
    margin: 0 -5px -5px 0;
    overflow-y: scroll;
}

img.whisper, img.kick, img.is-private {
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
    float: right;
}

img.is-private {
    position: absolute
}

#channel-attendees-entries > li {
    background: none;
    border: none;
    box-shadow: none;
    color: #666;
    margin: 0 0 4px 0;
}

#channel-attendees-entries > li > button:first-child {
    width: 185px;
    margin-left: 2px;
    border: none;
    text-align: left;
}

.btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
    color: #666;
    text-shadow: none;
}

#submit-area {
    background: #f7f7f7;
    height: 100px;
    padding: 10px;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#submit-smiley {
    margin-left: 10px;
    float: left;
}

#submit-loading {
    margin-left: 140px;
    float: left;
    visibility: hidden;
}

#submit-loading > img {
    margin-top: 7px;
}

.height-limiter {
    top: 380px;
    height: auto;
}

#submit-message {
    width: 100%;
}

#submit-message-wrapper {
    width: auto;
    min-width: 367px;
    display: block;
    position: absolute;
    left: 220px;
    right: 212px;
}

#submit-aside-right {
    float: right;
}


#submit-aside-right .share {
    text-align: center;
}

#submit-aside-right .share img {
    height: 32px;

    -webkit-transition: -webkit-transform .3s ease-out; 
    -moz-transition: -moz-transform .3s ease-out; 
}

#submit-aside-right .share img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -webkit-transition: -webkit-transform .3s ease-out; 
    -moz-transition: -moz-transform .3s ease-out; 
}


#submit-aside-right .switch-theme {
    width: 160px;
    margin-right: -3px;
    margin-bottom: 25px;
}

.submit-switch-theme-absolute {
    left: 605px;
    width: 160px;
    position: absolute;
}






#submit-status {
    margin-top: 120px;
    margin-left: 210px;
    width: 400px;
}

#submit-status > h1 {
    font-size: 1em;
    line-height: normal;
    margin: 0;
    padding: 0;
}

#add-new-room {
    padding: 4px 10px !important;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

.room-close {
    position: relative;
    left: 20px;
}

img.image-message {
    padding-bottom: 2px;
    max-height: 100px;
}

#magnify-image-overlay {
    position: absolute;
    top: 210px;
    right: 215px;
    display: none;

    height: auto;
    width: auto;
    max-height: 40%;
    max-width: 40%;

    background: #f7f7f7;
    border-radius: 3px;
    padding: 3px;
}

.unseen-messages {
    color: #555;
    font-size: 80%;
    line-height: normal;
    display: none;
}

.btn-danger .unseen-messages {
    color: #ddd;
}

.unseen-messages:before {
    content: '\00a0(';
}

.unseen-messages:after {
    content: ')';
}

.btn:not(.btn-inverse):not(.btn-info):not(.btn-primary):not(.btn-danger) {
    border-color: #f7f7f7;
    border-bottom-color: #3990E5;
}

.btn-primary {
    background: #3990E5 !important;
}

.btn-primary:hover {
    background: #317cc5 !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background: #3990E5 !important;
}

.btn-info {
    background: #265f97;
}
.btn-info:not([disabled]):hover {
    background: #1c4670 !important;
}

.popover-title {
    text-align: center;
}

.alert {
    border-color: transparent;
}

pre.prettyprint {
    margin: 0 !important;
    border-radius: 2px !important;
    border: none !important;
    padding: 3px;
    line-height: initial;

    white-space: pre-line !important;
    display: inline !important;
}


.rank-symbol {
    margin: 0;
    padding: 0 3px 0 0;
}

.message-role-server .chat-entry-user:before {
    content: '\2736';
}

.message-role-admin .chat-entry-user:before {
    content: '\2735';
}

.message-role-mod .chat-entry-user:before {
    content: '\2734';
}

.message-role-room-owner .chat-entry-user:before {
    content: '\2733';
}


#submit-smiley-content ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding-left: 1px;
}

#submit-smiley-content ul:first-child {     
    padding-bottom: 6px;
}


#submit-smiley-content ul:nth-child(3) { 
    padding-top: 4px;
}

#submit-smiley-content li {
    background: #f7f7f7;
    border-radius: 2px;
    height: 31px;
    margin: 2px;
    padding: 7px;
    display: inline-block;
}

#submit-smiley-content img {
    width: 31px;
    max-width: 31px;
    max-height: 31px;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-baseline-middle;
    vertical-align: -o-baseline-middle;
    vertical-align: baseline-middle;
}

#submit-smiley-content p {
    text-align: center;
}

#submit-smiley-content li:hover {
    background: #f0f0f0;
}

#data-added-chat-entries-height {
    display: none;
    margin: 0;
    padding: 0;
}



#channel-attendees-entries .popover {
    width: 200px;
}

#data-kick-user-content-send, #data-kick-user-content button, #data-kick-user-content li {
    width: 170px;
}

#data-kick-user-content > .bootstrap-select {
    width: inherit;
}

#data-kick-user-content ul {
    min-width: initial;
}

#data-kick-user-content .alert {
    margin-bottom: 10px;
    padding: 5px;
}

#data-kick-user-content-send {
    display: block;
    width: 145px;
}




