
header > .menu {
    float: right;
}

#userbar {
    float: right;
    margin-top: 20px;
}

#help-button {
    margin-top: 13px;
    width: 100%;
}

#site-status {
    margin-top: -50px;
    margin-right: 50px;
    float: left;
}

#user-name {
    margin-top: 3px;
    display: block;
}

#user-avatar {
    float: left;
    margin: 3px;
    margin-right: 20px;
    padding: 3px;
    background: #f0f0f0;
    border-radius: 2px;
}


#drag-and-drop-overlay {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.27) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.27)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.27) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.27) 0%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.27) 0%,rgba(0,0,0,0.65) 100%); /* W3C */

    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    display: none;
}

#drag-and-drop-overlay h1 {
    font-size: 72pt;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 330px;
    height: 70px;
    margin-left: -165px;
    margin-top: -35px;
    color: #f0f0f0;
    text-shadow: 5px 5px rgba(0,0,0,.5);
}​
