
header > .menu {
    float: right;
}

#userbar {
    float: right;
    margin-top: 20px;
}

#help-button {
    margin-top: 13px;
    width: 100%;
}

#site-status {
    margin-top: -50px;
    margin-right: 50px;
    float: left;
}

#user-name {
    margin-top: 3px;
    display: block;
}

#user-avatar {
    float: left;
    margin: 3px;
    margin-right: 20px;
    padding: 3px;
    background: #f0f0f0;
    border-radius: 2px;
}


#drag-and-drop-overlay {
    background: none repeat scroll 0 0 #424242;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .8;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    z-index: 10001;
    display: none;
}

#drag-and-drop-overlay h1 {
    font-size: 72pt;
    display: block;
    position: absolute;
    line-height: 50px;
    top: 50%;
    left: 50%;
    margin: -82px 0 0 -180px;
    color: white;
    z-index: -1;
}​
