#main-container {
    padding-bottom: 15px;
}

#chat {
    right: 0;
    padding: 0 20px;
    padding-top: 0;
    min-width: 500px;
}

#chat-entries {
    overflow-y: scroll;
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
}


#main-container > h1 {
    margin-left: 20px;
}

#main-container > h1 > span.roomname {
    font-weight: 600;
}

#main-container > h1 > span.viewspan {
    color: #bbb;
    float: none;
    font-size: 70%;
}

#roomname-title > code {
    font-size: 20px;
}

#chat .chat-entry > .chat-entry-options {
    width: 200px;
}

#chat .chat-entry > .chat-entry-message {
    margin-left: 355px;
}

#other-rooms {
    text-align: center;
}

#other-rooms > a {
    margin: 50px 10px 10px 10px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 20px;
    transition-duration: 200ms;
    display: inline-table;
}

#other-rooms > a:hover {
    text-decoration: none;
    background: #f0f0f0;
    transition-duration: 200ms;
}









