#main-container {

}

#chat {
    right: 0;
    padding: 20px;
    padding-top: 0;
    min-width: 500px;
}

#chat-entries {
    overflow-y: scroll;
    border-radius: 5px;
}


#main-container > h1 {
    margin-left: 20px;
}

#main-container > h1 > span.roomname {
    font-weight: 600;
}

#main-container > h1 > span.viewspan {
    color: #bbb;
    float: none;
    font-size: 70%;
}

#roomname-title > code {
    font-size: 20px;
}

#chat .chat-entry > .chat-entry-options {
    width: 160px;
}