#main-container {
    color: #333;
    text-align: center;
    background: #FCE790;
}

@media all and (min-width: 800px) {
    #main-container.login {
        background: url('../img/background-login.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #main-container.signup {
        background: url('../img/background-signup.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #main-container.not-found {
        background: url('../img/background-404.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: #fff;
    }
}

.shaded {
    background: #fff;
    border-radius: 10px;
    padding: 10px !important;
    font-weight: 300;
    display: inline-block;
    color: #333
}

#welcome {
    padding-top: 30px;
}

#welcome-statement {
    background: rgba(255, 255, 255, .9);
    border-radius: 20px;
    color: #333;
    display: inline-table;
    padding: 20px;
}

#login-native {
    width: 200px;
    margin: auto;
}

input {
    width: 185px;
    border-radius: 10px;
}

input[type='submit'] {
    width: 200px;
}

#login-native > .alert {
    margin-top: 10px;
    width: 150px;
}

#login-native > * {
    margin-bottom: 5px;
}

#login-native-content {
    padding: 0 0 12px 0 !important;
}

#login-chooser {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
}

#login-chooser h2 {
    font-size: 25px;
    font-weight: 300;
}

#login-chooser td.content {
    width: 300px;
}

#login-chooser td.content a span {
    margin-top: 12px;
    margin-bottom: 20px;
}

#login-chooser td.content > div {
    padding: 20px 0;

}

#login-chooser tr:last-child td {
    padding-top: 20px;
}

.or, .login-title, .no-account-yet, #sign-in-text  {
    background: rgba(255, 255, 255, .9);
    color: #333;
    display: inline;
    border-radius: 10px;
    padding: 10px;
}

#sign-in-text {
    padding-left: 50px;
    padding-right: 50px;
}

#login-chooser p.or {
    margin-top: 50px;
    margin-left: -10px;
    font-size: 20px;
    font-weight: 300;
}

#login-chooser td {
    vertical-align: top;
}

#action-chooser > .alert {
    margin-top: 5px;
    width: 250px;
}

#action-chooser  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
    padding: 10px;
}


#action-chooser > h2 {
    font-size: 25px;
}



input {
    padding: 0;
    margin: 5px 0 0 0;
}

input[type=submit] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


form .label {
    margin-left: 270px;
    margin-top: -37px;
    position: absolute;
    padding: 5px;
    font-size: 14px;
    display: table;
}

form .label-alert {
    background: #333;
}

form .label-success {
    background: #62c462;
}

.desc {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: initial;
}


::selection {
    background: rgba(0,0,0,.15);
}

footer {
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -210px;
    background: rgba(255, 255, 255, .9);
}

#share {
    position: absolute;
    top: 140px;
    left: 30px;
    text-align: left;
}

#share > a {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
}

#share img {
    height: 32px;
}

h1.desc {
    margin: auto;
}

.no-account-yet {
    font-size: 25px;
    font-weight: 300;
}

.top-hr {
    margin-top: -10px;
    margin-bottom: 12px;
}

.content > a:hover {
    text-decoration: none;
}

.login-circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: auto;
    background: rgba(255, 255, 255, .9);
    border-radius: 50%;
    margin-bottom: 10px;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}


.content span:nth-child(2) {
    display: block;
}

.content span:nth-child(2) a > span {
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.login-circle:hover {
    background: #fff;
}


.content span:nth-child(2) a {
    text-decoration: none;
}

.login-circle:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.content span:nth-child(2) a > span:hover {
    color: #369;
}

.popover-title {
    color: #333;
    text-align: center;
}

#share img {
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
    
#share img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

