#main-container {
    height: 10000px;
    color: #dfdfdf;
    text-align: center;
}

#main-container.login {
    background: url('../img/background-login.jpg');
}
#main-container.signup {
    background: url('../img/background-signup.jpg');
}
#main-container.not-found {
    background: url('../img/background-404.jpg');
    color: #fff;
}

#welcome {
    padding-top: 30px;
}

#login-native {
    margin-bottom: 15px;
}

#login-native > .alert {
    margin-top: 5px;
    width: 250px;
}

#login-native > * {
    margin-bottom: 5px;
}

#login-chooser {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
}

#login-chooser h2 {
    font-size: 25px;
    font-weight: 300;
}

#login-chooser td.content {
    width: 300px;
}

#login-chooser p.or {
    margin-top: 30px;
    margin-left: -10px;
    font-size: 20px;
    font-weight: 300;
}

#login-chooser td {
    vertical-align: top;
}

#action-chooser > .alert {
    margin-top: 5px;
    width: 250px;
}

#action-chooser  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
    padding: 10px;
}


#action-chooser > h2 {
    font-size: 25px;
}



input {
    padding: 0;
    margin: 5px 0 0 0;
}

input[type=submit] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


form .label {
    margin-left: 270px;
    margin-top: -37px;
    position: absolute;
    padding: 5px;
    font-size: 14px;
    display: table;
}

.desc {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: initial;
}


::selection {
    background: white;
}

footer {
    width: 400px;
    padding: 15px;
    border-radius: 3px;
    color: #282828;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -210px;
    background: #f0f0f0;
}

#share {
    position: absolute;
    top: 140px;
    left: 30px;
    text-align: left;
}

#share > a {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
}

#share img {
    height: 32px;
}

h1.desc {
    max-width: 60%;
    margin: auto;
}

.no-account-yet {
    margin-top: 5px;
}

img.facebook-login {
    margin-top: 20px;
    width: 250px;
}

.top-hr {
    margin-top: -10px;
    margin-bottom: 12px;
}