#main-container {
    height: 10000px;
    color: #dfdfdf;
    text-align: center;
    background: #222;
}

@media all and (min-width: 800px) {
    #main-container.login {
        background: url('../img/background-login.jpg');
    }
    #main-container.signup {
        background: url('../img/background-signup.jpg');
    }
    #main-container.not-found {
        background: url('../img/background-404.jpg');
        color: #fff;
    }
}

#welcome {
    padding-top: 30px;
}

#login-native {
    width: 200px;
    margin: auto;
}

#login-native > input {
    width: 185px;
}

#login-native > input[type='submit'] {
    width: 200px;
}

#login-native > .alert {
    margin-top: 10px;
    width: 150px;
}

#login-native > * {
    margin-bottom: 5px;
}

#login-chooser {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
}

#login-chooser h2 {
    font-size: 25px;
    font-weight: 300;
}

#login-chooser td.content {
    width: 300px;
    padding: 20px 0;
}

#login-chooser p.or {
    margin-top: 50px;
    margin-left: -10px;
    font-size: 20px;
    font-weight: 300;
}

#login-chooser td {
    vertical-align: top;
}

#action-chooser > .alert {
    margin-top: 5px;
    width: 250px;
}

#action-chooser  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
    padding: 10px;
}


#action-chooser > h2 {
    font-size: 25px;
}



input {
    padding: 0;
    margin: 5px 0 0 0;
}

input[type=submit] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


form .label {
    margin-left: 270px;
    margin-top: -37px;
    position: absolute;
    padding: 5px;
    font-size: 14px;
    display: table;
}

.desc {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: initial;
}


::selection {
    background: white;
}

footer {
    width: 400px;
    padding: 15px;
    border-radius: 3px;
    color: #282828;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -210px;
    background: #f0f0f0;
}

#share {
    position: absolute;
    top: 140px;
    left: 30px;
    text-align: left;
}

#share > a {
    display: block;
    margin: 0 0 5px 0;
    padding: 0;
}

#share img {
    height: 32px;
}

h1.desc {
    max-width: 60%;
    margin: auto;
}

.no-account-yet {
    margin-top: 5px;
}

.top-hr {
    margin-top: -10px;
    margin-bottom: 12px;
}

.content > a {


}

.content > a:hover {
    text-decoration: none;
}

.login-circle {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    background: #f0f0f0;
    border-radius: 50%;
    margin-bottom: 10px;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.login-circle:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.login-title {
    font-weight: bold;
}

.popover-title {
    color: #333;
    text-align: center;
}

#share img {
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
    
#share img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}