.modal-header h3, .modal-body h3 {
    font-size: 1.2em;
    line-height: inherit;
}

.modal-body {
    max-height: 420px;
}

.modal-body h3 {
    margin: 0;
}

.modal-body p {
    margin-bottom: 0;
}

p.pref-desc {
    margin: 5px 0 10px 0;
    padding: 0;
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

/*
    bootstrap overloads
 */
.modal-header h3 {
    text-align: center;
}

.modals-current-password {
    margin: 0 !important;
}

#modals-pref-table tr > td:nth-child(2) > div > button, #modals-pref-table tr > td:nth-child(2) > div > ul {
    width: 160px;
    margin-left: 70px;
}

.dropdown-menu>li>a {
    padding: 3px 15px;
}

#modals-pref-table tr > td:nth-child(2) > div ul {
    min-width: initial;
    max-height: none !important;
}

#modals-pref-table div.bootstrap-select {
    margin: 1px 0;
    padding: 0;
}

#modals-new-room-topic, #modals-room-pref-topic {
    width: 475px;
    max-width: 475px;
    height: 70px;
    max-height: 200px;
}

#modals-new-room-name-parent, #modals-new-room-password-parent {
    display: inline-block;
}

#modals-new-room-name-status, #modals-new-room-name-password-status {
    position: relative;
    bottom: 5px;
}

#modals-profile-new-password, .modals-current-password {
    width: 150px !important;
}

#modals-new-room-password {
    margin: 0;
}

#modals-new-room-password-animator label {
    margin: 0;
    display: inline;
}

#modals-new-room-password-animator {
    display: none;
}

.modal-small {
    width: 300px;
    margin-left: -150px;
    left: 50%;
}

.modal-small .modal-body, .modal-small .modal-footer {
    text-align: center;
}

#modals-room-pref-room-password {
    margin-top: 3px;
}

#modals-room-pref-admins {
    width: 475px;
}
