
#add-new-room-rooms > li {
    width: 160px !important;
}

#channel-attendees-entries > li > button:first-child {
    width: 170px !important;
}

#magnify-image-overlay {
    right: 235px !important;
}



