ErrorDocument 404 /404.php
RewriteEngine On
RewriteRule ^log/(.+)$ log.php?room=$1
RewriteRule ^join/(.+)$ index.php?join=$1


# maintenance
# RewriteCond %{REQUEST_URI} !=/maintenance.php
# RewriteRule ([\.php|\.html])$ /maintenance.php [R=301]


