body {
    background: rgb(42, 42, 42);
    color: #f0f0f0;
}

#channels {
    background: rgb(90,90,90);
}

#channel-attendees > form, #chat-header, #channel-attendees-entries, #submit-area  {
    background: rgb(70,70,70);
}


#chat-header-topic {
    color: #ccc;
}

header {
    background: rgb(50,50,50);
}

.dropdown-menu, .modal, .modal-footer, .popover-title, .popover-content {
    background: #444;
}
.dropdown-menu>li>a {
    color: #f0f0f0;
}

span.heading-desc, span.heading-desc-large {
    color: #81CFF0 !important;
}

input {
    background: #ddd;
}

#chat-entries {
    color: #999;
}

.label {
    background: #ccc;
    color: #555;
    text-shadow: none;
}

#chat .chat-entry {
    border-bottom: 1px solid #666;
}


#company-icon {
    content: url("../img/metahill.png");
}

.btn.disabled, .btn[disabled] {
    background: #999;
    text-shadow: none;
}