body {
    background: rgb(42, 42, 42);
    color: #f0f0f0;
}

#channels {
    background: rgb(30,30,30);
}

#channel-attendees > form, #chat-header, #channel-attendees-entries, #submit-area  {
    background: rgb(70,70,70);
}

#add-new-room {
    margin-top: 1px;
}


#submit-message, #add-new-room-search {
    background-color: #2A2A2A;
    border-color: #222;
    color: #999;
}

#filter-search-user{
    background-color: #2A2A2A;
    border-color: #222;
    color: #999;
}

header {
    background: rgb(50,50,50);
}

.dropdown-menu, .modal, .modal-footer, .popover-title, .popover-content {
    background: #444;
}
.dropdown-menu>li>a {
    color: #f0f0f0;
}

.btn:not(.btn-inverse):not(.btn-info):not(.btn-primary):not(.btn-danger), textarea, input[type="text"], input[type="password"] {
    background: #363636;
    border:none;
    text-shadow:none;
    color:#eee;
}

.btn-primary {
    border: none;
}

button.close { 
    color: #fff;
    text-shadow: none;
    opacity: .6;
}

button.close:hover {
    color: #ccc;
}

#view-log-button img, #room-settings img {
    display: none;
}

.btn.room-favorite:hover{
    background: #222222;
}

#chat-entries {
    color: #999;
}

#chat .chat-entry {
    background-color: #2A2A2A;
}

#channel-attendees-entries > li {
    color: #aaa;
}

.popover {
    background-color: none;
}

.popover-title {
    border-bottom: none;
}

.unseen-messages {
    color: #999;
}

.logged-message {
    color: #666;
}

#submit-smiley-content li {
    background: #333;
}

#submit-smiley-content li:hover {
    background: #222;
}

#channel-attendees-entries img {
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
    float: right;
    background: #aaa;
    border-radius: 3px;
}

#chat .whispered-message {
    background: rgb(50, 160, 210);
    color: #eee;
}
