html {
    overflow: scroll;
}

body {
    padding-bottom: 100px;
}

header {
    position: fixed;
    width: 100%;
}


h1 {
    font-size: 17.5px;
    line-height: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 14px;
    line-height: 20px;
}

li h2 {
    margin-bottom: -10px;
}

.tab-content {
    margin-left: 40px;
    margin-top: -20px;
    width: 600px;
    text-align: justify;
}

.tab-content p {
    margin: 0;
    padding: 0;
}

#main-container {
    padding-top: 120px;
}

#main-container h2 {
    margin: 20px 0 0 0;
}

table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

table.bot td {
    padding: 5px;
}


table.smilies tr:nth-child(2n+2) {
    background: #f3f3f3;
}

table.smilies tr:nth-child(2n+3) {
    background: #fff;
}

thead > tr {
    background: #ddd;
}
/*
table.smilies tr td:first-child {
    text-align: center;
}
*/

table.smilies th, table.smilies td {
    padding: 0 30px;
}

#example-share-images span {
    display: block;
}

#example-share-images img {
    width: 500px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 30px;

    background: #ddd;
    border-radius: 3px;
    padding: 3px;
}

img.anchor {
    width: 24px;
    margin-left: 10px;
}















